{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Agregar nueva materia prima</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="name" placeholder="Ingrese nombre de la materia prima" required>
        </div>
        <div class="mb-3">
            <label for="units" class="form-label">Cantidad</label>
            <input type="text" class="form-control" name="units" placeholder="e.g. 20, 10" required>
        </div>
        <div class="mb-3">
            <label for="exp_date" class="form-label">Fecha de vencimiento</label>
            <input type="date" class="form-control" name="exp_date" required>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'inventory' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}