{% extends 'admin/base_admin.html' %}
{% load static %}

{% block content %}
<section class="text-center py-5" 
        style="background-color: #FFF3E0; 
               background-image: url('{% static "images/patron_pan.jpg" %}'); 
               background-repeat: repeat; 
               background-size: contain;">
    <h1 class="fw-bold" 
        style="color: #6B4F3B; 
               font-family: 'Poppins', sans-serif; 
               letter-spacing: 1px;">
        PANEL DE ADMINISTRACIÓN
    </h1>
</section>
{% endblock %}