{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <button onclick="location.href='/'" class="btn btn-outline-dark mt-2">Home</button>
    <button onclick="location.href='/admin/'" class="btn btn-outline-dark mt-2">Admin</button>
    <button onclick="location.href='/products/'" class="btn btn-outline-dark mt-2">Products</button>
    <button onclick="location.href='/pos/'" class="btn btn-outline-dark mt-2">POS</button>
    <button onclick="location.href='/inventory/'" class="btn btn-outline-dark mt-2">Inventory</button>
</div>
{% endblock %}